/* You can add global styles to this file, and also import other style files */
#login_btns{
    margin-left: auto;
    margin-right: 8rem;
}
button{
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}
img{
    margin-right: 1.5rem;
}
